MediGuide_Client/MediGuide_Client/Connected Services/MedicineService/MediGuide.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MediGuide" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MediGuide" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Medicine">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdminId" type="xs:int" />
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MedicineId" type="xs:int" />
      <xs:element minOccurs="0" name="MedicineName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Symptoms" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Medicine" nillable="true" type="tns:Medicine" />
</xs:schema>