MediGuide_Client/MediGuide_Client/Connected Services/MedicineService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MediGuide" />
  <xs:element name="AddMedicine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MediGuide" minOccurs="0" name="medicine" nillable="true" type="q1:Medicine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMedicineResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMedicine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MediGuide" minOccurs="0" name="medicine" nillable="true" type="q2:Medicine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMedicineResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMedicine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="medicineId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMedicineResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMedicineById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="medicineId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMedicineByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MediGuide" minOccurs="0" name="GetMedicineByIdResult" nillable="true" type="q3:Medicine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>